<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="script.js"></script>
		<title>File Manager</title>
	</head>
	<body>
		<div class='root'></div>
		<% if(locals.dir){ %>
			<script type="text/javascript">
				let getDir = () => <%-dir%>
				let getParent = () => <%-parent%>
			</script>
		<% } %>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
		<div class="files"></div>
	</body>
</html>