<html>
	<head>
		<!--<link rel="shortcut icon" href="img/icon.ico"/>-->
		<!--<link rel="stylesheet" href="css/base.css"/>-->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="script.js"></script>
		<title>File Manager</title>
	</head>
	<body>
		<% if(locals.pwd){ %>
			<div class='pwd'> <%=pwd%> </div>
			<script type="text/javascript">
				let getPwd = () => JSON.parse('<%-pwd%>')
			</script>
		<% } %>

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>

		<style type="text/css">a{display: block;}</style>

		<div class="files"></div>
	</body>
</html>