<html>
	<head>
		<link rel="shortcut icon" href="img/icon.ico"/>
		<link rel="stylesheet" href="css/base.css"/>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<title>File Manager</title>
	</head>
	<body>
		<% if(locals.msg){ %>
			<div class='msg'> <%=msg%> </div>
		<% } %>
		<% if(locals.pwd){ %>
			<div class='pwd'> <%=pwd%> </div>
		<% } %>
	</body>
</html>