<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="script.js"></script>
		<title>File Manager</title>
	</head>
	<body>
		<% if(locals.dir){ %>
			<div class='pwd'> <%=dir%> </div>
			<script type="text/javascript">
				let getDir = () => <%-dir%>
				let getParent = () => <%-parent%>
			</script>
		<% } %>

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>

		<style type="text/css">a{display: block;}</style>

		<div class="files"></div>
		<div class="contents"></div>
	</body>
</html>